@font-face 
    font-family 'khula-light'
    src url('./fonts/Khula/khula-light.eot')
    src url('./fonts/Khula/khula-light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Khula/khula-light.woff2') format('woff2'),
      url('./fonts/Khula/khula-light.woff') format('woff'),
      url('./fonts/Khula/khula-light.ttf') format('truetype'),
      url('./fonts/Khula/khula-light.svg#khula-light') format('svg')
    font-weight normal
    font-style normal
