header
  width 100vw
  position fixed
  top 0
  padding-top 15px
  background linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%)
  z-index 100

  & .titulo
    color blanco
    font-family 'Nothing You Could Do', cursive
    font-size 40px
    font-weight 300
    margin 0 0 0 35px
    float left

  & ul
    float right
    list-style none
    margin 10px 35px 0 0
    padding 0

    & li 
      float left
      margin-left 30px

      & a 
        text-decoration none
        color alpha(blanco, 0.8)
