.navbar-fixed
  position fixed
  top 0

nav
  background linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%)

.brand-logo
  font-family 'Nothing You Could Do', cursive
  margin-left 25px

.button-collapse
  margin-left 25px

@media (max-width: 800px)
  .brand-logo
    margin-left 25px