.fondo-02
  ruta('Suits.png')
  background-repeat no-repeat
  background-position center center
  background-size 20%
  background-color #dcdcde

.contenedor-tira
  width 22%

  & .contenedor-texto
    margin 20% 0

    & .texto-titulo
      color alpha(negro, 0.8)
      margin 0

    & .texto
      color alpha(negro, 0.6)
      margin 5 0 0 0

.tira-izquierda
  float left
  margin-left 15%
  margin-top 3%

.tira-derecha
  float right
  margin-right 15%  
  margin-top 10%