.fondo-02
  ruta('Suits.png')

.contenedor-tiras
  display flex
  flex-direction row
  color alpha(negro, 0.5)
  height 100%

  & .contenedor-texto
    padding 5%
    display flex
    flex-direction column
    justify-content space-around

@media (max-width: 800px)
  .contenedor-tiras
    flex-direction column