.contenedor-historia
  width 100%
  min-height 100vh
  display flex
  justify-content center
  align-items center
  flex-direction column
  padding 30px

  & .historia-titulo
    color negro
    font-family 'Nothing You Could Do', cursive
    font-size 60px
    text-align center
    margin 0

  & .historia-texto
    width 45%
    text-align center
    color alpha(negro, 0.9)
    font-size 20px

@media (max-width: 800px)
  .contenedor-historia
    & .historia-texto
      font-size 14
      width 100%