<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title Documento Base
	link(rel="stylesheet", href="styles.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do")
body
	section.seccion.fondo-01
		header
			h1.titulo Certo Signore
			ul
				li
					a(href="#") COSTURA
				li
					a(href="#") TRAJES
				li
					a(href="#") HISTORIA
				li
					a(href="#") CONTACTO

	section.seccion.fondo-02
		div.contenedor-tira.tira-izquierda
			div.contenedor-texto
				h3.texto-titulo SHOULDER
				p.texto Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a
			div.contenedor-texto
				h3.texto-titulo SLEEVE LENGTH
				p.texto Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a
			div.contenedor-texto
				h3.texto-titulo TROUSER BREAK
				p.texto Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a

		div.contenedor-tira.tira-derecha
			div.contenedor-texto
				h3.texto-titulo JACKET COLLAR
				p.texto Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a
			div.contenedor-texto
				h3.texto-titulo TROUSER SEAT
				p.texto Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a

	section.seccion
		div.contenedor-fondos-chicos
			div.fondo-chico.chico-01
				h3.fondo-chico-titulo STREET MAN
			div.fondo-chico.chico-02
				h3.fondo-chico-titulo BRITISH STYLE
			div.fondo-chico.chico-03
				h3.fondo-chico-titulo URBAN BOY

	section.seccion
		div.contenedor-historia
			h2.historia-titulo Certo Signore
			p.historia-texto Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim.



	script(src="scripts.js")
	